fastapi
watchgod
qdrant-client
cohere
fastembed
uvicorn[standard]
websockets
python-dotenv
watchfiles
markdown
sqlalchemy
mysqlclient
uuid
pydantic[email,timezone]
pydantic-settings
sentry-sdk[fastapi]
arize-phoenix
litellm
#git+https://github.com/BerriAI/litellm.git@litellm_dev_11_30_2024#egg=litellm
openinference-semantic-conventions
openinference-instrumentation-litellm
arize-phoenix-otel
arize-phoenix-evals
scikit-learn
numpy
alembic
httpx