import os

# On a new deployment (whether production or development)
# make a copy of this file called 'config.py' and change all
# instances of '<<REPLACE>>' with the service-provided values.

basedir = os.path.abspath(os.path.dirname(__file__))


class Config(object):
    NAME_OF_APP = 'jodal'
    JODAL_URL = 'http://bron.live/'
    # database
    SQLALCHEMY_DATABASE_URI = 'mysql://root:jodal@mysql/jodal'
    SQLALCHEMY_TRACK_MODIFICATIONS = False
    # authfusion
    API_KEY='<<REPLACE>>'
    CLIENT_ID="<<REPLACE>>"
    CLIENT_SECRET="<<REPLACE>>"
    FA_URL='https://users.bron.live'
    FA_INTERNAL_URL='http://fusionauth:9011'
    AUTHORIZATION_BASE_URL='http://users.bron.live/oauth2/authorize'
    TOKEN_URL='http://fusionauth:9011/oauth2/token'
    USERINFO_URL='http://fusionauth:9011/oauth2/userinfo'
    REDIRECT_URI='http://api.bron.live/users/simple/callback'
