/*
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,700&display=swap" rel="stylesheet">
*/

@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap";

html, body {
}

body {
	color: #2E1E3D;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 18px;
	line-height: 28px;
  margin: 0;
}

a {
	color: #A62689;
}

a:hover {
	text-decoration: underline;
}

a:visited {
}

h1 {
	font-size: 64px;
	line-height: 69px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: .02em;
}

h2 {
	font-size: 30px;
	line-height: 40px;
	color: #A62689;
}

h3 {
	font-size: 30px;
	line-height: 40px;
}

h4 {
	font-size: 26px;
	line-height: 36px;
}

h5 {
	font-size: 33px;
	line-height: 38px;

}

h6 {
	font-size: 30px;
	line-height: 40px;
	color: #A62689;
}

@media (max-width: 768px) {
	h1 {
		font-size: 60px;
		line-height: 65px;
	}

	h2 {
		font-size: 26px;
		line-height: 36px;
	}

	h3 {
		font-size: 26px;
		line-height: 36px;
	}

	h4 {
		font-size: 22px;
		line-height: 32px;
	}

	h5 {
		font-size: 2px;
		line-height: 34px;

	}

	h6 {
		font-size: 26px;
		line-height: 36px;
	}

	.footer-icons {
     grid-template-columns: repeat(5, 1fr) !important;
  }

}

@media(max-width:1080px){
  .footer-icons {
     grid-template-columns: repeat(6, 1fr) !important;
  }
}

@media(max-width:540px){
  .footer-icons {
     grid-template-columns: repeat(3, 1fr) !important;
  }
}

main {
  max-width: 760px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main h2 {
  text-align: center;
}

main p {
  text-align: center;
}

.lead {
  text-align: center;
}

header {
  text-align: center;
  background: rgb(166, 38, 137);

	display: flex;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 64px;
	justify-content: center;
	align-items: center;
}

header h1 {
  margin: 0;
  color: #ffffff;
  	font-family: Roboto,sans-serif;
  	-moz-osx-font-smoothing: grayscale;
  	-webkit-font-smoothing: antialiased;
  	font-size: 1.25rem;
    font-style: normal;
  	line-height: 2rem;
  	font-weight: 500;
  	letter-spacing: .0125em;
  	text-decoration: inherit;
  	text-transform: inherit;
  	padding-left: 20px;
  	padding-right: 0;
  	text-overflow: ellipsis;
  	white-space: nowrap;
  	overflow: hidden;
  	z-index: 1;
}

footer {
  text-align: center;
  background: #e9eef1;
	font-family: IBM Plex Sans Condensed,Helvetica Neue,Arial,sans-serif;
	color: #2e1e3d;
	word-wrap: break-word;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: .01em;
	line-height: 32px;
}

footer section {
  padding: 2rem;
}

.actions {
  text-align: center;
}

.btn {
  --mdc-ripple-fg-size: 59px;
  --mdc-ripple-fg-scale: 1.9698291453315258;
  --mdc-ripple-fg-translate-start: 50.13330078125px, -8.5px;
  --mdc-ripple-fg-translate-end: 20.46666717529297px, -11.5px;
  font-family: Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: .875rem;
  /* line-height: 2.25rem; */
  font-weight: 500;
  letter-spacing: .08929em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 8px;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  height: 36px;
  border: none;
  outline: none;
  line-height: inherit;
  user-select: none;
  -webkit-appearance: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 4px;
}

.btn-default {
	background: rgb(166, 38, 137);
	color: white;
}

.features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.feature {
  flex: 1 0 20%;
  text-align: center;
}

.feature h3 {
  text-align: center;
}

.video-container {
	margin: 2rem auto 0 auto;
	width: 80%;
	max-width: 640px;
}

.img-fluid {
	max-width: 33.33%;
	height: auto;
}

.footer-icons {
	display: grid;
	justify-content: center;
	 grid-template-columns: repeat(10, 1fr);
}

.fa-3x {
	font-size: 3em;
}

.footer-icons a {
	color: #8fb7d1;
	margin: 20px;
	font-size: 22px;
}

.svg-inline--fa {
	display: inline-block;
	font-size: inherit;
	height: 3em;
	overflow: visible;
	vertical-align: -0.125em;
}

.footer-icons .ckan svg {
	width: 66px;
	height: 66px;
	fill: #8fb7d1;
	stroke: #8fb7d1;
}
