
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

html {
	overflow-y: auto;
}

body {
	background:white;
	color: #000000;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 32px;
	margin: 0;
/*
	height: 100%;
	overflow: hidden;
*/
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}
a {
	color: #006be8;
}

a:hover {
	text-decoration: underline;
}

a:visited {
}

h1 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	margin: 0;
}

h2 {
	font-size: 30px;
	line-height: 40px;
/*	color: #A62689;*/
}

h3 {
	font-size: 30px;
	line-height: 40px;
}

h4 {
	font-size: 16px;
	line-height: 20px;
}

h5 {
	font-size: 33px;
	line-height: 38px;

}

h6 {
	font-size: 30px;
	line-height: 40px;
	color: #A62689;
}

.source-logo {
	max-height:20px;
}

@media (max-width: 950px) {
	.columns {
		width: 98% !important;
	}
}
/*
@media (max-width: 768px) {
	h1 {
		font-size: 60px;
		line-height: 65px;
	}

	h2 {
		font-size: 26px;
		line-height: 36px;
	}

	h3 {
		font-size: 26px;
		line-height: 36px;
	}

	h4 {
		font-size: 16px;
		line-height: 20px;
	}

	h5 {
		font-size: 2px;
		line-height: 34px;

	}

	h6 {
		font-size: 26px;
		line-height: 36px;
	}
}*/

.app-container {
/*
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	min-width: 320px;
	z-index: -1;
*/
}

.workspace {
	z-index: -1;
	overflow: visible;
}

.columns {
/*
	position: absolute;
	top: 128px;
	left: 0;
	bottom: 0;
	right: 0;
	bottom: 0;
	overflow: auto hidden;
*/
	width: 60%;
	margin: 0 auto;
}

.column-title {
	text-align: left;
	margin: 2px;
}

.column-title h4 {
	margin: 0;
}

.column-title button {
	float: right;
}

.column-counts {
	clear: both;
	display: grid;
	grid-gap: 16px;
	padding: 0 4px;
	grid-template-columns: repeat(auto-fill,minmax(60px,1fr));
	grid-auto-flow: column;
	grid-auto-columns: minmax(60px,1fr);
	overflow-x: auto;
}

.column-counts-source {
	font-size: 14px;
	line-height: 20px;
	display: grid;
	justify-items: initial;
}

.column-counts-source-disabled {
	background: #e0e0e0;

}

.column-counts-source-disabled .mdc-button__label img {
	opacity: 0.5;
}

.column-counts-source-disabled .mdc-button__label span {
	color: #b0b0b0 !important;
}


.column-counts-source .source-logo {
	height: 20px !important;
	margin-top: 0px !important;
	margin-right: 8px;
	vertical-align: middle;
}

.column-counts-source span {

}

.column-dates {
	margin: 2px;
	clear: both;
	white-space: normal;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	display: block !important;
}

.column-contents {
	border-top: 1px solid #f1f1f1;
	margin: 2px;
	clear: both;
	white-space: normal;
	font-size: 16px;
	line-height: 32px;
}

.column-contents button {
	position: absolute;
	z-index: 5;
}

.column-settings {
	clear: both;
	display: none;
	padding-bottom: 8px;
}

.column-settings.active {
	display: block;
}

.column-settings-actions {
	margin-top: 1em;
}

.column-section {
	/*
	margin: 0 auto !important;
	position: relative;
	overflow: hidden;
	width: 320px;
	height: 100%;
	*/
	margin: 0 4px;
}

.column {
	/*
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;*/
	margin: 0 auto;
	background: white;
}

.hidden-column {
	display: none;
}

.entry-paging {
	border-bottom: 0px none !important;
	margin-top: 12px;
	text-align: center;
}

.entry-paging a {
		color: #000;
		text-decoration: underline;
		text-align: center;
		font-weight: 500;
}

.entry {
	cursor: pointer;
	border-bottom: 1px solid #ccc;
	margin-botom: 2px;
}

.entry-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.entry-title a {
	white-space: normal;
 	overflow: hidden;
 	text-overflow: ellipsis;
	max-width: 86%;
	font-size: 16px;
	font-weight: 400;
	line-height: 32px;
	display: inline-block;
	text-decoration: none;
	color: inherit !important;
}

.entry-title h4 a:hover {
	text-decoration: underline;
}

.entry-contents-link, .entry-contents-link:hover {
	text-decoration: none;
	color: #2E1E3D;
}

.entry-byline, .locations-select-byline {
	font-size: 13px;
	line-height: 15px;
}

.locations-select-byline {
	margin-top: 0;
}

.entry-byline ul {
	padding: 0;
}

.entry-byline li {
	display: inline;
	list-style-type: none;
	padding-right: 10px;
	text-align: left;
}

.entry-byline li.last {
	float: right;
	padding-right: 0;
}

.entry-date {
	text-align: right;
}
.source-link {
	float: left;
	display: block;
	width: 60px;
}

.source-logo {
	margin-top: -2px;
	height: 20px;
}

.loading {
	background: url("/images/loading.svg") no-repeat;
	width: 32px;
	height: 32px;
	margin: 0 auto;
}

.start-explainer {
	margin: 0 auto;
	text-align: center;
	display: inline-block;
}

.help-dialog .mdc-dialog__container {
	width: 100%;
}

.help-dialog .mdc-dialog__surface {
  max-width: 80% !important;
	min-width: 80% !important;
	height: 90%;
}

.help-dialog .container p {
	white-space: normal;
}

.document-dialog .mdc-dialog__container {
	width: 100%;
}

.document-dialog .mdc-dialog__surface {
  max-width: 90% !important;
	min-width: 90% !important;
	max-height: 90%;
}

.document-dialog-content-tools {
	display: none;
	/*
	width: 18%;
	float:left;
	margin-right: 1em;
	position: fixed;*/
}

.document-dialog-content-description {
/*
	width: 74%;
	float: right;*/
	border-left: 1px solid #ccc;
	padding: 1em;
}


.document-dialog-content-description em {
	background: yellow;
}

 .document-download-button {
	 display: block;
 }

.message {
	padding: 0.1rem 1.25rem;
	display: flex;
	align-items: center;
}

.message-info {
	background: #8fd9e8;
	color: #2e1e3d;
}

.message-warning {
	background: #fcba03 !important;
	color: #fff !important;
}

.close-btn {
	margin-left: auto;
}

.acc-chevron {
	float: right;
}

.collapsible-header {
	background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
	background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
	cursor: pointer !important;
	margin-bottom: 5px;
	font-size: 18px;
	line-height: 26px;
}

.input-label {
  font-weight: 700;
}

/* hide when too much locations selected */
/*
.multiSelectItem:nth-child(n+6) {
	display: none !important;
}*/

#btn-register-test {
	background: #8fd9e8 !important;
	padding: 2px 8px !important;
	color: #000 !important;
}

.multi-select-input {
	display: flex;
	align-items: center;
	min-height: 54px;
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
	background: white;
}

.selectContainer {
	width: 100%;
}

.multi-select-input > .material-icons {
    margin-left: 10px;
    margin-right: 10px;
  }

.mdc-text-field__input {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	line-height: 1rem !important;
	height: auto !important;
}

input {
	border: 0px none;
	font-size: 16px !important;
}

.selectContainer {
	border: 0px none !important;
}

.cell > .material-icons {
    margin-left: 10px;
    margin-right: 10px;
  }


	  .subscribe-button {
	    height: 56px !important;
	  }

.expand-more {
	color: #006be8;
}

.menu-link {
	color: #A3A3A3;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	margin: 30px;
	text-decoration: none;
}
