/*
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,700&display=swap" rel="stylesheet">
*/

@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap";

html {
	overflow-y: auto;
}

body {
	color: #2E1E3D;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 18px;
	line-height: 28px;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

a {
	color: #A62689;
}

a:hover {
	text-decoration: underline;
}

a:visited {
}

h1 {
	font-size: 64px;
	line-height: 69px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: .02em;
}

h2 {
	font-size: 30px;
	line-height: 40px;
	color: #A62689;
}

h3 {
	font-size: 30px;
	line-height: 40px;
}

h4 {
	font-size: 16px;
	line-height: 20px;
}

h5 {
	font-size: 33px;
	line-height: 38px;

}

h6 {
	font-size: 30px;
	line-height: 40px;
	color: #A62689;
}

.source-logo {
	max-height:20px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 60px;
		line-height: 65px;
	}

	h2 {
		font-size: 26px;
		line-height: 36px;
	}

	h3 {
		font-size: 26px;
		line-height: 36px;
	}

	h4 {
		font-size: 16px;
		line-height: 20px;
	}

	h5 {
		font-size: 2px;
		line-height: 34px;

	}

	h6 {
		font-size: 26px;
		line-height: 36px;
	}
}

.app-container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	min-width: 320px;
	overflow: hidden;
	z-index: -1;
}

.workspace {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #e1e8ed;
	z-index: -1;
	overflow: visile;
}

.columns {
	position: absolute;
	top: 64px;
	left: 0;
	bottom: 0;
	right: 0;
	bottom: 0;
	overflow: auto hidden;
	white-space:nowrap;
}

.column-title {
	text-align: center;
	margin: 2px;
}

.column-title h2 {
	float: left;
	margin: 0;
}

.column-title button {
	float: right;
}

.column-contents {
	border-top: 1px solid #f1f1f1;
	min-height: 200px;
	height: calc(100vh - 9em);
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 2px;
	clear: both;
	white-space: normal;
	font-size: 14px;
	line-height: 18px;
}

.column-contents button {
	position: absolute;
	z-index: 5;
}

.column-settings {
	clear: both;
	display: none;
}

.column-settings.active {
	display: block;
}

.column-section {
	position: relative;
	overflow: hidden;
	width: 320px;
	height: 100%;
	display: inline-block;
	margin: 0 4px;
}

.column {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background: white;
}

.entry {
	border-bottom: 1px solid #c0c0c0;
	margin-left: 4px;
}

.entry-title h4 {
	margin-top: 4px;
	margin-bottom: 12px;
}

.entry-byline {
	font-size: 13px;
	line-height: 15px;
}

.entry-byline ul {
	padding: 0;
}

.entry-byline li {
	display: inline;
	list-style-type: none;
	padding-right: 10px;
	text-align: left;
}

.entry-byline li.last {
	float: right;
	padding-right: 0;
}

.source-link {
	float: left;
	display: block;
	width: 60px;
}

.source-logo {
	margin-top: -2px;
	height: 20px;
}

#add-column-content input {
	width: 500px;
}

.loading {
	background: url("/images/loading.svg") no-repeat;
	width: 32px;
	height: 32px;
	margin: 0 auto;
}

.start-explainer {
	margin: 0 auto;
	text-align: center;
}
