/*
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,700;1,700&display=swap" rel="stylesheet">
*/

@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,300;0,400;0,700;1,700&display=swap";

html, body {
}

body {
	color: #2E1E3D;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 18px;
	line-height: 28px;
	margin: 0;
}

a {
	color: #A62689;
}

a:hover {
	text-decoration: underline;
}

a:visited {
}

h1 {
	font-size: 64px;
	line-height: 69px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: .02em;
}

h2 {
	font-size: 30px;
	line-height: 40px;
	color: #A62689;
}

h3 {
	font-size: 30px;
	line-height: 40px;
}

h4 {
	font-size: 26px;
	line-height: 36px;
}

h5 {
	font-size: 33px;
	line-height: 38px;

}

h6 {
	font-size: 30px;
	line-height: 40px;
	color: #A62689;
}

@media (max-width: 768px) {
	h1 {
		font-size: 60px;
		line-height: 65px;
	}

	h2 {
		font-size: 26px;
		line-height: 36px;
	}

	h3 {
		font-size: 26px;
		line-height: 36px;
	}

	h4 {
		font-size: 22px;
		line-height: 32px;
	}

	h5 {
		font-size: 2px;
		line-height: 34px;

	}

	h6 {
		font-size: 26px;
		line-height: 36px;
	}
}
