
@import “https://use.typekit.net/etz7bgt.css”;
html {
	overflow-y: auto;
}

body {
	background:white;
	color: #000000;
	font-family: 'Neue Haas Grotesk Text', sans-serif;
	font-size: 18px;
	line-height: 32px;
	margin: 0;
/*
	height: 100%;
	overflow: hidden;
*/
}

header {
	background: #0c537b !important;
}

a {
	color: #006be8;
}

a:hover {
	text-decoration: underline;
}

a:visited {
}

h1 {
	font-size: 64px;
	line-height: 69px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: .02em;
}

h2 {
	font-size: 30px;
	line-height: 40px;
/*	color: #A62689;*/
}

h3 {
	font-size: 30px;
	line-height: 40px;
}

h4 {
	font-size: 16px;
	line-height: 20px;
}

h5 {
	font-size: 33px;
	line-height: 38px;

}

h6 {
	font-size: 30px;
	line-height: 40px;
	color: #A62689;
}

.source-logo {
	max-height:20px;
}

@media (max-width: 768px) {
	h1 {
		font-size: 60px;
		line-height: 65px;
	}

	h2 {
		font-size: 26px;
		line-height: 36px;
	}

	h3 {
		font-size: 26px;
		line-height: 36px;
	}

	h4 {
		font-size: 16px;
		line-height: 20px;
	}

	h5 {
		font-size: 2px;
		line-height: 34px;

	}

	h6 {
		font-size: 26px;
		line-height: 36px;
	}
}

.app-container {
/*
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	min-width: 320px;
	*/
	overflow: hidden;
/*
	z-index: -1;
*/
}

.workspace {
	position: absolute;
	top: 64px;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	overflow: visible;
}

.columns {
/*
	position: absolute;
	top: 128px;
	left: 0;
	bottom: 0;
	right: 0;
	bottom: 0;
	overflow: auto hidden;
*/
	white-space:nowrap;
}

.column-title {
	text-align: center;
	margin: 2px;
}

.column-title h2 {
	float: left;
	margin: 0;
}

.column-title button {
	float: right;
}

.column-counts {
	clear: both;
	display: grid;
	grid-gap: 16px;
	padding: 0 4px;
	grid-template-columns: repeat(auto-fill,minmax(60px,1fr));
	grid-auto-flow: column;
	grid-auto-columns: minmax(60px,1fr);
	overflow-x: auto;
}

.column-counts-source {
	font-size: 14px;
	line-height: 20px;
	display: grid;
	justify-items: initial;
}

.column-counts-source-disabled {
	background: #e0e0e0;

}

.column-counts-source-disabled .mdc-button__label img {
	opacity: 0.5;
}

.column-counts-source-disabled .mdc-button__label span {
	color: #b0b0b0 !important;
}


.column-counts-source .source-logo {
	height: 20px !important;
	margin-top: 0px !important;
	margin-right: 8px;
	vertical-align: middle;
}

.column-counts-source span {

}

.column-dates {
	margin: 2px;
	clear: both;
	white-space: normal;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	display: block !important;
}

.column-contents {
	border-top: 1px solid #f1f1f1;
	min-height: 200px;
	height: calc(100vh - 9em);
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 2px;
	clear: both;
	white-space: normal;
	font-size: 14px;
	line-height: 18px;
}

.column-contents button {
	position: absolute;
	z-index: 5;
}

.column-settings {
	clear: both;
	display: none;
	padding-bottom: 8px;
}

.column-settings.active {
	display: block;
}

.column-settings-actions {
	margin-top: 1em;
}

.column-section {
	/*
	margin: 0 auto !important;
	position: relative;
	overflow: hidden;
	width: 320px;
	height: 100%;
	*/
	margin: 0 4px;
}

.column {
	/*
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;*/
	width: 60%;
	margin: 0 auto;
	background: white;
}

.hidden-column {
	display: none;
}

.entry-paging {
	border-bottom: 0px none !important;
	margin-top: 12px;
	height: 150px;
}

.entry-paging button {
	display: block;
	position: relative;
}

.entry {
	border-bottom: 1px solid #c0c0c0;
	margin-left: 4px;
	margin-right: 4px;
	cursor: pointer;
}

.entry-title h4 {
	margin-top: 4px;
	margin-bottom: 12px;
}

.entry-title h4 a {
	white-space: nowrap;
 	overflow: hidden;
 	text-overflow: ellipsis;
	width: 95%;
	display: inline-block;
	text-decoration: none;
	color: inherit !important;
}

.entry-title h4 a:hover {
	text-decoration: underline;
}

.entry-contents-link, .entry-contents-link:hover {
	text-decoration: none;
	color: #2E1E3D;
}

.entry-byline, .locations-select-byline {
	font-size: 13px;
	line-height: 15px;
}

.locations-select-byline {
	margin-top: 0;
}

.entry-byline ul {
	padding: 0;
}

.entry-byline li {
	display: inline;
	list-style-type: none;
	padding-right: 10px;
	text-align: left;
}

.entry-byline li.last {
	float: right;
	padding-right: 0;
}

.source-link {
	float: left;
	display: block;
	width: 60px;
}

.source-logo {
	margin-top: -2px;
	height: 20px;
}

#add-column-content input {
	width: 452px;
}

.loading {
	background: url("/images/loading.svg") no-repeat;
	width: 32px;
	height: 32px;
	margin: 0 auto;
}

.start-explainer {
	margin: 0 auto;
	text-align: center;
	display: inline-block;
}

.help-dialog .mdc-dialog__container {
	width: 100%;
}

.help-dialog .mdc-dialog__surface {
  max-width: 80% !important;
	min-width: 80% !important;
	height: 90%;
}

.help-dialog .container p {
	white-space: normal;
}

.document-dialog .mdc-dialog__container {
	width: 100%;
}

.document-dialog .mdc-dialog__surface {
  max-width: 80% !important;
	min-width: 80% !important;
	height: 90%;
}

.document-dialog-content-tools {
	width: 18%;
	float:left;
	margin-right: 1em;
	position: fixed;
}

.document-dialog-content-description {
	width: 74%;
	float: right;
	border-left: 1px solid #ccc;
	padding: 1em;
}


.document-dialog-content-description em {
	background: yellow;
}

 .document-download-button {
	 display: block;
 }

.message {
	padding: 0.1rem 1.25rem;
	display: flex;
	align-items: center;
}

.message-info {
	background: #8fd9e8;
	color: #2e1e3d;
}

.message-warning {
	background: #fcba03 !important;
	color: #fff !important;
}

.close-btn {
	margin-left: auto;
}

.acc-chevron {
	float: right;
}

.collapsible-header {
	background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
	background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
	cursor: pointer !important;
	margin-bottom: 5px;
	font-size: 18px;
	line-height: 26px;
}

/* hide when too much locations selected */
.multiSelectItem:nth-child(n+6) {
	display: none !important;
}

#btn-register-test {
	background: #8fd9e8 !important;
	padding: 2px 8px !important;
	color: #000 !important;
}

.multi-select-input {
}
