version: "2.1"
services:
  nginx:
    ports:
      - "80:80"
    volumes:
      - ./nginx-dev/:/etc/nginx/
    restart: "no"
  api-jodal:
    environment:
      OAUTHLIB_INSECURE_TRANSPORT: "1"
  fusionauth:
    ports:
      - 9011:9011
    environment:
      FUSIONAUTH_APP_URL: http://users.bron.live
  heritrix:
    ports:
      - 8443:8443
  node:
    restart: "no"
    command: npm run dev
  frontend:
     command: ["npm", "run", "dev"]
