version: "2.1"
services:
  nginx:
    ports:
      - "80:80"
    volumes:
      - ./nginx-dev/:/etc/nginx/
    restart: "no"
  api-jodal:
    environment:
      OAUTHLIB_INSECURE_TRANSPORT: "1"
  elasticsearch:
    environment:
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g -Dlog4j2.formatMsgNoLookups=true"
  fusionauth:
    ports:
      - 9011:9011
    environment:
      FUSIONAUTH_APP_URL: http://users.bron.live
  node:
    restart: "no"
    command: npm run dev
