:root {
    /* kleuren */
    // --primary-color: #015C6E;
    // --primary-hover: #58B8D0;
    // --secondary-color: #A62789;
    // --secondary-hover: #CC43B2;
    // --third-color: #A0D0E1;
    // --white: #fff;
    // --black: #000;
    // --bs-btn-active-bg: #015c6e;
    // --bs-btn-hover-color: #015c6e;

    /*Algemeen*/
    --text-decoration: none;
    --box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1); 

    /* tekst */
    --font-family-headings: "ibm-plex-sans", sans-serif;
    --font-weight-headings: 700;
    --font-style-headings: normal;
    --font-family-body: "ibm-plex-sans", sans-serif;
    --font-weight-body: 400;
    --font-style-body: normal;


    /*Buttons*/
    --button-font-size: 16px;
    --border-radius: 20px;
    --border-text-transform: capitalize;
    --button-padding: 10px 20px 10px 20px;
    --primary-hover: #58B8D0;
    --secondary-hover: #CC43B2;
    --hover-transition: 0.3s background-color
}

body {
    padding-top: 150px;
    padding-bottom: 60px;
}

h1 {
    color: var(--petrol);
    font-family: var(--font-family-headings);
    font-weight: var(--font-weight-headings);
    font-style: var(--font-style-headings);
}

h2, h3, h4, h5, h6 {
    color: var(--magenta);
}

a {
    color: var(--petrol);
}

a:hover {
    color: var(--petrol-light);
}

p {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-body);
    font-style: var(--font-style-body); 
}





/* @media (max-width: 991px) {
    .login-button {
        display: none;
    }
} */

@media(min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #015C6E;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}

.hero-section {
    /* background: url(images/hero.jpg) no-repeat center; */
    background-size: cover;
    width: 100%;
}

.hero-section::before {
    /* background-color: rgba(0, 0, 0, 0.3); */
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container {
    height: 100vh;
    color: var(--secondary-color);
    z-index: 1;
    position: relative;
}

.hero-section p {
    color: var(--black);
    text-align: center;
    width: 50;
}

/* searchbar met radio buttons */
.radio-button-search {
    border-radius: 20px 0px 0px 20px;
    /* background-color: pink; */
    border: none;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
}

.search-form {
    border: none;
    box-shadow: var(--box-shadow);
    border-radius: 50%;
}

.form-button-search {
    border-radius: 0px 20px 20px 0px;
    background-color: var(--primary-color);
    color: white;
    border: none
}

.form-button-search:hover {
    background-color: var(--secondary-color);
  
}
