:root {
    /* kleuren */
    // --primary-color: #015C6E;
    // --primary-hover: #58B8D0;
    // --secondary-color: #A62789;
    // --secondary-hover: #CC43B2;
    // --third-color: #A0D0E1;
    // --white: #fff;
    // --black: #000;
    // --bs-btn-active-bg: #015c6e;
    // --bs-btn-hover-color: #015c6e;

    /*Algemeen*/
    --text-decoration: none;
    --box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);

    /* tekst */
    --font-family-headings: "Inter", sans-serif;
    --font-weight-headings: 700;
    --font-style-headings: normal;
    --font-family-body: "Inter", sans-serif;
    --font-weight-body: 400;
    --font-style-body: normal;

    --tblr-font-sans-serif: 'Inter';

    /*Buttons*/
    /*
    --button-font-size: 16px;
    --border-radius: 20px;
    --border-text-transform: capitalize;
    --button-padding: 10px 20px 10px 20px;
    --primary-hover: #58B8D0;
    --secondary-hover: #CC43B2;
    --hover-transition: 0.3s background-color;
     */

     --tblr-primary: var(--petrol);
     --tblr-secondary: var(--white);
     --tblr-link-primary: var(--magenta);

     --tblr-primary-fg: var(--white);
     --tblr-border-width: 0;
     .btn {
     	--tblr-btn-padding-x: 20px;
     	--tblr-btn-padding-y: 17px;
     	--tblr-btn-font-family: var(--tblr-font-sans-serif);
     	--tblr-btn-font-size: 16px;
     	--tblr-btn-font-weight: 600;
     	--tblr-btn-line-height: 1.4285714286;
     	--tblr-btn-border-width: 0;
     	--tblr-btn-border-color: transparent;
     	--tblr-btn-border-radius: 5px;
     	--tblr-btn-hover-border-color: transparent;
     	--tblr-btn-box-shadow: var(--tblr-box-shadow-input);
     	--tblr-btn-disabled-opacity: 0.4;
     	--tblr-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--tblr-btn-focus-shadow-rgb), .5);
     	padding: var(--tblr-btn-padding-y) var(--tblr-btn-padding-x);
     	font-family: var(--tblr-btn-font-family);
     	font-size: var(--tblr-btn-font-size);
     	font-weight: var(--tblr-btn-font-weight);
     	line-height: var(--tblr-btn-line-height);
     	color: var(--tblr-btn-color);
     	border: var(--tblr-btn-border-width) solid var(--tblr-btn-border-color);
     	border-radius: var(--tblr-btn-border-radius);
     	background-color: var(--tblr-btn-bg);
     	box-shadow: var(--tblr-btn-box-shadow);
      line-height: 22px;
      margin-top: -4px;
      margin-left: 10px;
     }

     .btn-primary {
       --tblr-btn-color: var(--tblr-primary-fg);
       --tblr-btn-bg: var(--tblr-primary);
     }

     .btn-secondary {
       --tblr-btn-color: var(--tblr-secondary-fg);
       --tblr-btn-bg: var(--tblr-secondary);
     }

}

body {
    font-family: var(--font-family-body);
}

h1 {
    font-family: var(--font-family-headings);
    font-weight: var(--font-weight-headings);
    font-style: var(--font-style-headings);
}

/*
h2, h3, h4, h5, h6 {
    color: var(--magenta);
}

a {
    color: var(--petrol);
}

a:hover {
    color: var(--petrol-light);
}
*/
p {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-body);
    font-style: var(--font-style-body);
}

input {
  height: 54px;
	border: 1px solid black;
	border-radius: 5px;
	line-height: 32px;
	padding: 0 20px;
	margin: 10px 0 10px 0;
  font-size: 16px;
}

.table-heritrix td {
  height: 84px;
}

/* @media (max-width: 991px) {
    .login-button {
        display: none;
    }
} */

@media(min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #015C6E;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}
