@import '@tabler/core/src/scss/tabler';

:root {

  /* buttons */
  --tblr-btn-bg: var(--petrol);
  /* --tblr-btn-font-size: 16px; */
  --tblr-btn-font-size: 16px;
  --tblr-btn-font-weight: 600;

  --tblr-btn-border-radius: 5px;

  --tblr-btn-padding-x: 20px;
  --tblr-btn-padding-y: 17px;

}
