:root {
  --mdc-theme-primary:  white;
}

.mdc-button {
}

.mdc-button:not(:disabled) {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  background: #52BB00;
  padding: 17px 20px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
