@import "tailwindcss";
/* @plugin '@tailwindcss/forms'; */
@plugin "@tailwindcss/typography";

@theme {
  --font-*: initial;
  --font-sans: Funnel Sans, system-ui, sans-serif;
  --font-display: "new-kansas", system-ui, sans-serif;

  --color-bron: #2260ff;
}

:root,
body {
  background-color: var(--color-stone-50);
}

* {
  scroll-margin-top: 5rem;
}
